@model BussMan.Model.SIndexViewModel
@{
    Layout = "~/Views/System/_LayoutSystem.cshtml";
}

<div class="outter-wp">
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">菜单配置</li>
        </ol>
    </div>
    <div class="graph-visual tables-main">
            <p>这是菜单配置页面</p>
    </div>
</div>



