
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_DispLayout.cshtml";
}
<div class="banner">
    <div class="slider">
        <ul class="slider-main">
            <li class="slider-panel img1" style="background-image:url(../../Content/disp/images/banner1.jpg);"></li>
            <li class="slider-panel img2" style="background-image:url(../../Content/disp/images/banner2.jpg);"></li>
            <li class="slider-panel img3" style="background-image:url(../../Content/disp/images/banner3.jpg);"></li>
        </ul>
        <div class="slider-extra">
            <ul class="slider-nav">
                <li class="slider-item slider-item-selected"></li>
                <li class="slider-item"></li>
                <li class="slider-item"></li>
            </ul>
            <div class="slider-page">
                <a class="slider-pre" href="javascript:;;">&lt;</a>
                <a class="slider-next" href="javascript:;;">&gt;</a>
            </div>
        </div>

    </div>
</div>
<!--main-->
<div class="whiteBg">
    <div class="pubTit aos-init aos-animate" aos="zoom-in" id="01"> <img src="~/Content/disp/images/indextit1.png" /> </div>
    <div class="container introBox">
        <div class="row">
            <div class="fl introText aos-init aos-animate" aos="fade-right" aos-delay="100">
                <div class="leftTit"><em>艾雪文化</em><i>/ AIXUE CULTURE</i></div>
                <p>北京艾雪文化传播有限公司《企宣会》致力于通过国家级先进电视、网络媒体文化传播平台，增强中国声音传播能力，丰富社会大众精神文化生活，同时向客户提供包括本公司的“企业推广、电视广告、软文推广、互联网广告、高端会议、企业活动策划” 等在内的产品或服务合作。 基于国内......</p>
                <a class="indexMoreBtn chaKanBtn" href="company.html">了解更多</a>
            </div>
            <div class="fl proImgIndex aos-init aos-animate" aos="fade-left" aos-delay="100">
                <div class="videoBox"></div>
            </div>
        </div>
    </div>
</div>
<div class="grayBg proPadding">
    <div class="pubTit aos-init aos-animate" aos="zoom-in" id="02"> <img src="~/Content/disp/images/indextit2.png" /> </div>
    <div class="container proBox">
        <div class="row">
            <ul class="clearfix productList">
                <li class="proItem col-md-4 col-sm-4 col-xs-6 aos-init aos-animate" aos="fade-down" aos-delay="100">
                    <div class="projectCont">
                        <a class="proPic" title="创业梦工厂" href="projectDetail.html"><img src="~/Content/disp/images/img1.jpg" alt="创业梦工厂" /></a>
                        <a title="创业梦工厂" href="projectDetail.html" class="proTit "><em>创业梦工厂</em><i>Entrepreneurship Factory</i></a>
                    </div>
                </li>
                <li class="proItem col-md-4 col-sm-4 col-xs-6 aos-init aos-animate" aos="fade-down" aos-delay="200">
                    <div class="projectCont">
                        <a class="proPic" title="央视广告" href="projectDetail.html"> <img src="~/Content/disp/images/img2.jpg" alt="央视广告" /> </a>
                        <a title="央视广告" href="projectDetail.html" class="proTit"><em>央视广告</em><i>CCTV Advertising</i></a>
                    </div>
                </li>
                <li class="proItem col-md-4 col-sm-4 col-xs-6 aos-init aos-animate" aos="fade-down" aos-delay="300">
                    <div class="projectCont">
                        <a class="proPic" title="主流媒体宣传" href="projectDetail.html"> <img src="~/Content/disp/images/img3.jpg" alt="主流媒体宣传" /> </a>
                        <a title="主流媒体宣传" href="projectDetail.html" class="proTit "><em>主流媒体宣传</em><i>Mainstream media outreach</i></a>
                    </div>
                </li>
                <li class="proItem col-md-4 col-sm-4 col-xs-6 aos-init aos-animate" aos="fade-down" aos-delay="100">
                    <div class="projectCont">
                        <a class="proPic" title="中央观众赠票" href="projectDetail.html"> <img src="~/Content/disp/images/img4.jpg" alt="中央观众赠票" /> </a>
                        <a title="中央观众赠票" href="projectDetail.html" class="proTit "><em>中央观众赠票</em><i>Central audience ticket</i></a>
                    </div>
                </li>
                <li class="proItem col-md-4 col-sm-4 col-xs-6 aos-init aos-animate" aos="fade-down" aos-delay="300">
                    <div class="projectCont">
                        <a class="proPic" title="高端会议" href="projectDetail.html"> <img src="~/Content/disp/images/img5.jpg" alt="高端会议" /> </a>
                        <a title="高端会议" href="projectDetail.html" class="proTit "><em>高端会议</em><i>High-end meetings</i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="whiteBg cooperateIndex">
    <div class="pubTit aos-init aos-animate" aos="zoom-in" id="03"> <img src="~/Content/disp/images/indextit3.png" /> </div>
    <div class="container cooperateBox">
        <div class="picbox">

            <ul class="piclist mainlist">
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通1</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通2</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
                <li class="goodlist">
                    <a title="北京物通"><img class="pics" src="~/Content/disp/images/cooperate1.jpg" /></a>
                    <p>北京物通</p>
                </li>
            </ul>

        </div>
        <div class="og_prev"></div>
        <div class="og_next"></div>
    </div>
</div>
<div class="grayBg">
    <div class="pubTit aos-init aos-animate" aos="zoom-in" id="04"> <img src="~/Content/disp/images/indextit4.png" /> </div>
    <div class="container">
        <div class="joinUsTip">加入我们 Join Us  一起来改变自己 世界很大，我们很小，在工作中去发现这个世界的美丽，终会将我们也变成最美丽的自己 一起去改变他们 世界这么美，他们却总是错过...</div>
        <ul class="clearFix joinUsList">
            <li class="aos-init aos-animate" aos="fade-down" aos-delay="100"><a href="joinus.html" title="加入条件"><img src="~/Content/disp/images/indexicon1.png" /><p>加入条件</p></a></li>
            <li class="aos-init aos-animate" aos="fade-down" aos-delay="200"><a href="joinus.html" title="加入任务"><img src="~/Content/disp/images/indexicon2.png" /><p>加入任务</p></a></li>
            <li class="aos-init aos-animate" aos="fade-down" aos-delay="300"><a href="joinus.html" title="退出机制"><img src="~/Content/disp/images/indexicon3.png" /><p>退出机制</p></a></li>
        </ul>
    </div>
</div>
<div class="whiteBg">
    <div class="pubTit aos-init aos-animate" aos="zoom-in" id="05"> <img src="~/Content/disp/images/indextit5.png" /> </div>
    <div class="container introBox liuYanBox">
        <div class="leftContacts aos-init aos-animate" aos="fade-right" aos-delay="100">
            <h3>北京艾雪文化传播有限公司</h3>
            <img src="~/Content/disp/images/ewm.jpg" />
            <p>扫一扫  关注公众号</p>
            <div class="tell">137-8888-8888</div>
        </div>

        <div class="indexOnline aos-init aos-animate" aos="fade-left" aos-delay="100">
            <dl class="liuYan50">
                <dt><i>*</i>姓名：</dt>
                <dd>
                    <input name="" type="text" class="grayInput" />
                </dd>
            </dl>
            <dl class="liuYan50">
                <dt><i>*</i>电话：</dt>
                <dd>
                    <input name="" type="text" class="grayInput" />
                </dd>
            </dl>
            <dl style="clear:both;">
                <dt>所在地区：</dt>
                <dd>
                    <input name="" type="text" class="grayInput" />
                </dd>
            </dl>
            <dl>
                <dt>邀请人：</dt>
                <dd>
                    <input name="" type="text" class="grayInput" />
                </dd>
            </dl>
            <dl class="liuYan">
                <dt>留言内容：</dt>
                <dd>
                    <textarea class="grayInput" name="" cols="" rows=""></textarea>
                </dd>
            </dl>
            <div class="saveBtnBox">
                <input name="" type="button" value="提交留言" />
            </div>

        </div>
    </div>
</div>