USE [master]
GO
/****** Object:  Database [QiYe]    Script Date: 2018/7/18 19:22:40 ******/
CREATE DATABASE [QiYe] ON  PRIMARY 
( NAME = N'QiYe', FILENAME = N'D:\SQLSERVER2008\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QiYe.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QiYe_log', FILENAME = N'D:\SQLSERVER2008\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QiYe_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QiYe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QiYe]
GO
/****** Object:  Table [dbo].[t_user]    Script Date: 2018/7/18 19:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_user](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cust_Name] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[Location] [nvarchar](20) NULL,
	[RealName] [nvarchar](20) NULL,
	[Pwd] [nvarchar](20) NULL,
	[Type] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[t_user] ON 

INSERT [dbo].[t_user] ([ID], [Cust_Name], [Phone], [Location], [RealName], [Pwd], [Type], [ImageUrl]) VALUES (1, N'admin', N'18838948225', N'河南省郑州市管城区东明路29号院', N'赵进', N'147258', N'Admin', N'')
SET IDENTITY_INSERT [dbo].[t_user] OFF
USE [master]
GO
